# Colors
# dark
set $dark0   #2E3440
set $dark1   #3B4252
set $dark2   #434C5E
set $dark3   #4C566A

#light
set $light0   #D8DEE9
set $light1   #E5E9F0
set $light2   #ECEFF4

#blueish
set $prim   #8FBCBB
set $alt   #88C0D0
set $blue1   #81A1C1
set $blue2  #5E81AC

set $red  #BF616A
set $orange  #D08770
set $yellow  #EBCB8B
set $green  #A3BE8C
set $purple  #B48EAD

# Colors
# class                 border  backgr. text    indicator child_border
client.focused          $purple $dark3  #ffffff $green    $green
client.focused_inactive #333333 #5f676a #ffffff #484e50   #5f676a
client.unfocused        #333333 #222222 #888888 #292d2e   #000000
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       $red

bar {
	#mode hide
	#hidden_state hide 
	#modifier $mod

	padding 0px 2px

	workspace_buttons yes
	
	i3bar_command i3bar 
        status_command i3status

	font pango: Liga SFMono Nerd Font 11 
	strip_workspace_numbers yes

	colors {
		background #1F2431
		statusline $light0
		separator  $prim 
		
		focused_workspace  $prim $prim  $dark0
		active_workspace   $dark2 $dark2 #ffffff
		inactive_workspace $dark3 $dark3 $light2
		urgent_workspace   $red   $red   #ffffff
		binding_mode       #2f343a #900000 #ffffff
   	}
}
